.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }                       

  #mainrow {
    background-color: aquamarine;
    height: 400px;
    
  }

  #row1 {
      background-color: black;
      height: 360px;
  }

  .history {
    background-color: pink;
    height: 100px;
}

  .day {
    background-color:pink;
    /* height: 300px; */
    border-style: solid;
    border-color: royalblue;
}
.daily {
    background-color: rgb(129, 106, 106);
    height: 70px;
    border-style: solid;
    border-color: black;
}

.name {
    background-color: rgb(129, 106, 106);
    height: 100px;
    border-style: solid;
    border-color: black;
}

.icon {
    background-color: rgb(129, 106, 106);
    height: 100px;
    border-style: solid;
    border-color: black;

}

.current {
    background-color: rgb(129, 106, 106);
    height: 100px;
    border-style: solid;
    border-color: black;
}

.text{
    font-size: 1.8rem;
    height: 40px;
}